# DATASET_ROOT_APTOS=./data/raw/aptos
# DATASET_ROOT_IDRID=./data/raw/idrid
# DATASET_ROOT_EXTERNAL=./data/raw/external

# DATABASE_URL=sqlite:///./outputs/dr_screening.db
# API_HOST=0.0.0.0
# API_PORT=8000
# MODEL_CHECKPOINT=./models/classification/best_model.pth

DATASET_ROOT_APTOS=./data/raw/aptos
DATASET_ROOT_IDRID=./data/raw/idrid
DATASET_ROOT_EXTERNAL=./data/raw/external

MONGODB_URI=mongodb+srv://akhibhat777_db_user:Kt9RtHXlkfGfJ7ls@cluster0.pqxhyok.mongodb.net/dr_screening?appName=Cluster0&retryWrites=true&w=majority"

MONGODB_DATABASE=dr_screening

API_HOST=0.0.0.0
API_PORT=8000

MODEL_CHECKPOINT=./models/classification/best_model.pth
