--extra-index-url https://download.pytorch.org/whl/cpu
numpy
pandas
opencv-python-headless
Pillow
scipy
scikit-learn
torch
torchvision
albumentations
tqdm
PyYAML
fastapi
uvicorn
pydantic
pymongo
certifi
reportlab
grad-cam
python-dotenv
imagehash
httpx
python-multipart
